<launch>
  <include file="$(find universal_teleop)/launch/ardrone-settings.xml"/>
  <node name="joy" pkg="joy" type="joy_node"/>
  <node name="keyboard" pkg="keyboard" type="keyboard"/> 

  <node name="universal_teleop" pkg="universal_teleop" type="universal_teleop" output="screen">
    <rosparam file="$(find universal_teleop)/launch/joy_foxconn.yml"/>
    <!--<rosparam file="$(find universal_teleop)/launch/joy_noganet.yml"/>-->

    <rosparam file="$(find universal_teleop)/launch/keyboard.yml"/>
    <rosparam file="$(find universal_teleop)/launch/ardrone_scales.yml"/>
  </node>
</launch>
