<launch>
  <node name="joy" pkg="joy" type="joy_node"/>
  <node name="keyboard" pkg="keyboard" type="keyboard"/> 
  <node name="universal_teleop" pkg="universal_teleop" type="universal_teleop" output="screen">
    <rosparam file="$(find universal_teleop)/launch/example_input_map.yml"/>
  </node>
</launch>
